@using Shop.Data.Models
@model IEnumerable<Car>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h2>VSE AVTOMOBILI</h2>
    <p>Hello, world! The time on the server is @DateTime.Now</p>
    @{
        foreach (var car in Model)
        {
            <div>
                <h2>Модель: @car.name</h2>
                <p>Cena: @car.price.ToString("c")</p>
            </div>
        }

    }
</body>
</html>
